.portfolio {
    padding: 0% 20%;
}

.portfolio-item {
    padding: 5% 0%;
    display: flex;
}

.col-1-2 {
    width: 50%;
    padding: 0% 3%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#sorting-song img {
    width: 200px;
    height: 200px;
    padding: 0% 5%;
}

@media (max-width: 800px) {
	.portfolio {
		padding: 0% 0%;
    }
    
    .portfolio-item {
        display: block;
    }

    .col-1-2 {
        width: 100%;
        padding: 5% 0%;
    }
}