body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
::selection {
	background: #acacac; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: #acacac; /* Gecko Browsers */
}

br {
	display: block; 
	content: "";
	margin-top: 30px;
}

h2 {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 300%;
	font-weight: normal;
	margin: 0;
}

img {
	width: 300px;
}

.nav-icon {
	width: 100px;
}

.section {
	display: flex;
}

a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	background-color: yellow;
}

a br {
	display: block; 
	content: "";
	margin-top: 10px;
}

.section.header li {
	list-style-type: none;
}

#logo {
	font-size: 350%;
	font-weight: bold;
}

#logo-a:hover {
	background-color: transparent;
}

.header {
	display: flex;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 150%;
	justify-content: space-around;
	align-items: center;
}

#header-hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.footer {
	list-style-type: none;
	display: inline-flex;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 150%;
	justify-content: center;
	padding-left: 0 !important;
}

.footer li {
	padding-left: 5px;
	padding-right: 5px;
}

.footer img {
	width: 50%;
}

@media (max-width: 800px) {
	#logo {
		margin: 3% 0%;
		order: -1;
		width: 100%;
	}
	.header {
		flex-wrap: wrap;
	}
	.nav-icon {
		width: 50px;
	}
}